@import 'global';
@import 'vars';
@import 'media';

//*========= HEADER ==============

.header {
  background-image: url(../images/sweater-cover-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header__box {
  width: 100%;
  background-color: rgba(225, 196, 170, 0.75);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header__inner {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 10px;
}

.header__menu {
  width: 410px;
  height: 21px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #000;

      &::hover {
        color: $blue;
      }
    }

  }

}

.header__search-cart {
  display: flex;
  justify-content: space-between;
}

.header__search {
  cursor: pointer;
}

.header__cart {
  margin-left: 19px;
  cursor: pointer;
  margin-right: 10px;
}

.header__title {
  color: $blue;
}

.header__title-box {
  position: relative;
  width: 100%;
}

.header__title-big {
  font-size: 200px;
  font-family: 'Skranji', cursive;
  -webkit-text-stroke: 4px #ffffff;
  position: absolute;
  right: 17px;
  top: 72px;
}

.header__title-little {
  font-size: 96px;
  font-family: 'Skranji', cursive;
  -webkit-text-stroke: 3px #ffffff;
  position: absolute;
  right: 2px;
  top: 245px;
}

.header__title-btn {
  padding: 15px 57px;
  font-size: 24px;
  color: $blue;
  border: solid 3px $blue;
  background-color: rgba(225, 196, 170, 0.75);
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.66);
  position: absolute;
  right: 240px;
  top: 370px;
  transition: all .5s;

  &:hover {
    color: #fff;
    border: solid 3px #fff;
    background-color: $blue;
    box-shadow: none;

  }
}

//*================ Catalog =================

.background__img {
  background-image: url(../images/bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-bottom: 60px;
}

.catalog__item {
  width: 335px;
  height: 350px;
  position: relative;
  margin-bottom: 55px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

}

.catalog__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;

  &:hover {
    width: 350px;
  }
}

.catalog__name {
  font-size: 36px;
  color: #000;
}

.man {
  position: absolute;
  right: 17px;
  top: 142px;
  color: #fff;
}

.woman {
  position: absolute;
  bottom: 0;
  right: 0;
}

.family {
  position: absolute;
  top: 0;
}

.girl {
  position: absolute;
  bottom: 0;
  right: 75px;
}

.boy {
  position: absolute;
  color: #fff;
  left: 43px;
  bottom: 90px;
}

.baby {
  position: absolute;
  top: 42px;
  right: 32px;
}

//*============== Slider ===============

.slider__title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 60px;
}

.slider__inner {
  width: 100%;
  margin-bottom: 140px;

  div+div {
    margin-left: 22px;
  }
}


.slider__inner .slick-track {
  transform: rotate3d(0px, 0px, 0px) !important;
}

.slider__inner .slick-slide {
  max-width: 262px;
}

.slider__image {
  width: 262px;
  height: 262px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}