@import 'global';
@import 'media';

//*========= HEADER ==============

.header {
  background-image: url(../images/sweater-cover-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header__box {
  width: 100%;
  background-color: rgba(225, 196, 170, 0.75);
  position: fixed;
  z-index: 100;
  box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24), 0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.16);

}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.header__inner {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  transition: all 1s;
}

.small {
  height: 6vh;
}

.header__menu {
  width: 410px;
  height: 21px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #000;

      &:hover {
        color: #1857a1;
      }
    }
  }
}

.header__search-cart {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.header__search {
  cursor: pointer;

  &:hover {
    color: #1857a1;
  }
}

.header__cart {
  margin-left: 19px;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    color: #1857a1;
  }
}

.header__title {
  color: #1857a1;
}

.header__title-box {
  position: relative;
  width: 100%;
}

.header__title-big {
  font-size: 200px;
  font-family: 'Skranji', cursive;
  -webkit-text-stroke: 4px #ffffff;
  position: absolute;
  right: 115px;
  top: 200px;
}

.header__title-little {
  font-size: 96px;
  font-family: 'Skranji', cursive;
  -webkit-text-stroke: 3px #ffffff;
  position: absolute;
  right: 115px;
  top: 375px;
}

.header__title-btn {
  padding: 15px 57px;
  font-size: 24px;
  color: #1857a1;
  border: solid 3px #1857a1;
  background-color: rgba(225, 196, 170, 0.75);
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.66);
  position: absolute;
  right: 355px;
  top: 525px;
  transition: all .5s;

  &:hover {
    color: #fff;
    border: solid 3px #fff;
    background-color: #1857a1;
    box-shadow: none;
  }
}

//*================ Catalog =================

.background__img {
  background-image: url(../images/bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 55px;
  padding-top: 55px;
  padding-bottom: 112px;
}

.catalog__item {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
}

.catalog__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}

.catalog__name {
  font-size: 36px;
  color: #000;
}

.man {
  position: absolute;
  right: 17px;
  top: 142px;
  color: #fff;
}

.woman {
  position: absolute;
  bottom: 0;
  right: 0;
}

.family {
  position: absolute;
  top: 0;
}

.girl {
  position: absolute;
  bottom: 0;
  right: 75px;
}

.boy {
  position: absolute;
  color: #fff;
  left: 43px;
  bottom: 90px;
}

.baby {
  position: absolute;
  top: 42px;
  right: 32px;
}

//*============== Slider ===============

.slider__title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 60px;
}

.slider__inner {
  width: 100%;

  div+div {
    margin-left: 22px;
  }
}

.slider__inner .slick-track {
  transform: rotate3d(0px, 0px, 0px) !important;
}

.slider__inner .slick-slide {
  max-width: 262px;
}

.slider__image {
  width: 262px;
  height: 262px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots {
  li {
    margin: 0 11px;
    width: auto;
    height: auto;

    button {
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: #fff;
      border-radius: 50%;
      border: solid 3px #000000;
    }
  }
}

.slick-dots li.slick-active button {
  background-color: #000000;
}

.slick-arrow::before {
  display: none;
}

.slick-prev {
  top: 280px;
  left: 530px;
  z-index: 1;
  opacity: 0.7;
}

.slick-next {
  top: 280px;
  right: 562px;
  opacity: .7;
  z-index: 1;
}

.slick-next:hover,
.slick-prev:hover {
  opacity: 1;
  transition: all .5s;
}

//*============== Brand ===============

.brand__inner {
  margin-top: 140px;
  display: flex;
}

.brand__image {
  width: 570px;
  height: 570px;
  padding-bottom: 110px;
  margin-left: 100px;
  margin-right: 82px;

  img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}

.brand__desc {
  max-width: 580px;
  margin-right: 72px;
}

.brand__desc-title {
  font-family: 'Skranji', cursive;
  -webkit-text-stroke: 3px #ffffff;
  color: #1857a1;
  font-size: 72px;
  position: relative;
  top: 30px;
  left: -166px;
}

.brand__desc-text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 65px;
}

.brand__desc-video {
  background-image: url(../images/video-img.jpg);
  background-size: cover;
  width: 320px;
  height: 180px;
  margin-bottom: 72px;
  padding-left: 120px;
  padding-top: 50px;
}

.fa-play-circle {
  color: #000;
  font-size: 85px;
}

.brand__box {
  margin: 0 auto;
}

//*============== Contacts ===============

.contacts {
  height: 350px;
  background: linear-gradient(#d39d7c 0%, #2d1306 100%);
}

.contacts__inner {
  position: relative;
}

.contacts__title {
  font-size: 144px;
  color: #ffffff;
  -webkit-text-stroke: 4px #1857a1;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: -60px;
}

.contacts__subtitle {
  font-size: 36px;
  text-align: center;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 50px;
}

.contacts__form {
  margin: 0 auto;
  width: 620px;
  padding: 0;
}

.contacts__mail {
  margin-bottom: 45px;
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  width: 435px;
  height: 54px;
  border: 3px solid #1857a1;
  background-color: rgba(196, 196, 196, 0.5);
  padding-left: 45px;
}

.contacts__btn {
  margin-left: 34px;
  padding: 11px 42px;
  font-family: 'Roboto Slab', serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  border: 3px solid #1857a1;
  background-color: #ddc5af;
  cursor: pointer;

  a &:hover {
    color: #ddc5af;
    border: 3px solid #ddc5af;
    background-color: #1857a1;
  }
}

.contacts__checkbox {
  margin-right: 24px;
}

//*============== Contacts ===============

footer {
  background-color: #210f06;
  height: 235px;
  overflow-y: hidden;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 110px;
  margin-bottom: 20px;
}

.list__items {
  display: flex;

  li+li {
    margin-left: 23px;
  }

  a {
    color: #fff;

    &:hover {
      color: #1857a1;
    }
  }
}

.footer__address {
  color: #fff;
}

.footer__address-adr {
  a {
    padding-left: 30px;
    color: #fff;

    &:hover {
      color: #1857a1;
    }
  }
}

.footer__address-tel {
  margin-top: 10px;

  a {
    margin-left: 50px;
    color: #fff;

    &:hover {
      color: #1857a1;
    }
  }
}

.social__list {
  display: flex;
  justify-content: center;
  font-size: 25px;

  li+li {
    margin-left: 35px;
  }
}

.list__item {
  a {
    color: transparent;
    -webkit-text-stroke: 1px #fff;

    &:hover {
      -webkit-text-stroke: 1px #1857a1;
    }

    .fa-instagram {
      color: #fff;
      -webkit-text-stroke: 0px;

      &:hover {
        color: #1857a1;
      }
    }
  }
}